/*
  General styels to beautify the examples.
  These are not really needed for srcissors.
*/

body {
  background-color: #222;
}

.crop-actions {
  position: absolute;
  top: 0;
  right: 0;

  margin: 10px;
}

.crop-actions a {
  display: block;
  min-width: 120px;
  padding: 4px 5px;
  margin-bottom: 2px;

  border-radius: 5px;
  text-decoration: none;
  color: #000;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}

